body {
    font-family: 'Open Sans', san-serif;
    font-size: 13px;
    line-height: 1.51em;
    color: #747373;
    background: none !important;
}
body > h1 {
  display: none;
}

.DTFC_LeftWrapper {
  background-color: #f7f7f7;
}

body table.compare-list th {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  border-bottom: none;
  font-size: 18px;
}
body table.compare-list td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #F2F2F2;
}
body table.compare-list td.odd {
  background-color: transparent;
}
body table.compare-list td img {
  margin-bottom: 0px;
  background: none;
  border: none;
  padding: 0;
}
body table.compare-list tr.title td {
  color: #252525;
  padding-bottom: 10px;
}
body table.compare-list tr.price td {
  text-decoration: none;
  font-size: 18px;
}
body table.compare-list tr.price.repeated td {
  padding-top: 20px;
}
body table.compare-list tr.stock td span {
  display: inline-block;
  padding: 5px 10px;
  color: #39b54a;
  border: 2px solid #39b54a;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: bold;
}
body table.compare-list tr.stock td span.out-of-stock {
  border-color: #B50808;
  color: #B50808;
}
body table.compare-list tr.add-to-cart td a {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: .3px;
  border-radius: 0px;
  border: 1px solid;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #252525;
  color: #ffffff;
  border-color: #252525;
  text-decoration: none;
}
body table.compare-list tr.add-to-cart td a:hover, body table.compare-list tr.add-to-cart td a:focus {
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  border-color: #333333;
}
body table.compare-list tr.add-to-cart td a.btn-style-bordered {
  background-color: transparent;
  color: #252525;
}
body table.compare-list tr.add-to-cart td a.btn-style-bordered:hover, body table.compare-list tr.add-to-cart td a.btn-style-bordered:focus {
  background-color: #252525;
  color: #ffffff;
  border-color: #252525;
}
body table.compare-list tr.add-to-cart td a.btn-style-link {
  background-color: transparent;
  color: black;
  opacity: 1;
}
body table.compare-list tr.add-to-cart td a.btn-style-link:hover, body table.compare-list tr.add-to-cart td a.btn-style-link:focus {
  background-color: transparent;
  color: black;
  opacity: 0.7;
}
body table.compare-list tr.add-to-cart .add_to_cart_button .blockUI.blockOverlay {
  display: none !important;
}
body table.compare-list tr.add-to-cart .add_to_cart_button.added {
  display: none;
}
body table.compare-list tr.add-to-cart .add_to_cart_button.loading {
  padding-right: 35px;
}
body table.compare-list tr.add-to-cart .add_to_cart_button:after {
  border-color: white;
}
body table.compare-list tr.no-products td {
  border: none;
  font-size: 24px;
  padding-top: 25px;
  text-transform: uppercase;
  color: black;
}
body table.compare-list tr.remove a {
  color: #252525;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 20px;
  display: inline-block;
  padding-right: 25px;
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
body table.compare-list tr.remove a:before, body table.compare-list tr.remove a:after {
  content: " ";
  width: 15px;
  height: 2px;
  position: absolute;
  right: 0px;
  top: 9px;
  display: inline-block;
  background-color: #252525;
  -webkit-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
body table.compare-list tr.remove a:hover:after, body table.compare-list tr.remove a:focus:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -sand-transform: rotate(-45deg);
}
body table.compare-list tr.remove a:hover:before, body table.compare-list tr.remove a:focus:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -sand-transform: rotate(45deg);
  transform: rotate(45deg);
}
body table.compare-list tr.remove a .blockOverlay {
  display: none !important;
}
body table.compare-list tr.remove a .remove {
  display: none;
}
body table.compare-list tr:last-child td {
  border-bottom: none;
}
tbody .image th , tbody .title th , tbody .price th , tbody .add-to-cart th  {
    display:none;
}
.dataTables_scroll tbody  {
    text-align: center;
}
table.dataTable thead th , table.dataTable tfoot th {
    border: none !important;
}
.DTFC_LeftBodyWrapper {
    text-align: left;
}
body table.compare-list tr.title td , body table.compare-list tr.price td , body table.compare-list tr.image td , body table.compare-list tr.remove td {
    border: none;
} 
body table.compare-list th {
    color: #252525;
}